@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$text: rgb(64, 64, 64);
$red: #e43f52;
$blue: #2f55d4;
$cyan: #17a2b8;
$green: #2eca8b;
$orange: #f17425;
$primary: $blue;

@import '../node_modules/bulma/sass/utilities/initial-variables.sass';

$family-sans-serif: 'Nunito', sans-serif;

$navbar-background-color: rgba(0, 0, 0, 0);
$navbar-height: 6rem;

$footer-background-color: $white;
$footer-padding: 1rem 1rem 1rem;

$block-spacing: 3rem;
$control-border-width: 2px;
$input-shadow: none;
$family-sans-serif: 'Nunito', sans-serif;
$title-line-height: 1.5;

$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;

$body-size: $size-5;


@import "../node_modules/bulma/bulma.sass";

.logo {
    font-size: 2rem;
    font-weight: 700;
}

.columns, .is-variable {
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}

p {
  margin: 40px 0px;
}

@media(max-width: 767px) { /* <== You can change this break point as per your  needs */
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
  
  .is-paddingless-mobile {
    padding: 0px 0px;
  }
}