{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block header %}
{{ macros::header(section="blog", path="/blog
{% endblock header %}

{% block content %}
{% set index = get_section(path="blog/_index.md") %}
<div class="columns" style="margin-top: 20px">
    <div class="column is-6 is-offset-3">
        {% block inner_content %}
        <h1 class="title is-3">{{ section.title }}</h1>
        {{ section.content | safe }}
        {% for page in index.pages %}
        <a href="{{ page.permalink }}">
        <div class="card" style="margin-bottom: 10px;">
            <div class="card-content">
                <div class="content is-clearfix">
                    <h3 class="title is-5" style="margin-bottom: 20px;">{{ page.title }}</h3>
                    <p>{{ page.description }}</p>
                    <div class="is-pulled-right">read more</div>
                </div>
            </div>
        </div>
        </a>
        {% endfor %}
        {% endblock inner_content %}
    </div>
</div>
{% endblock content %}