{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<section class="hero is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-variable is-8 is-vcentered">
                <div class="column">
                    <img src="./images/apid_yaml.jpg" class="image" alt="image code representing fixing bugs" />
                </div>
                <div class="column">
                    <h1 class="title is-2">
                        API <span class="has-text-primary">testing</span> doesn't have to be tedious
                    </h1>
                    <h2 class="subtitle is-6">
                        Powerful declarative end-to-end testing for APIs that works for you! No coding required.
                        Simple to run on any continuous integration tool.
                    </h2>
                    <div class="buttons">
                        <a class="button is-primary is-large is-fullwidth"
                            href="{{ get_url(path="/download") }}">Download</a>
                        <a class="button is-text is-large is-fullwidth" href="{{ get_url(path="/docs") }}">Read docs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="columns">
        <div class="column has-text-centered">
            <img class="image is-inline is-128x128" src="./images/programming_code_2.svg"
                alt="a developer on a computer" />
            <h2 class="title is-4 is-marginless">
                Made for developers
            </h2>
            <p>
                Write tests in YAML and execute with a single command. Works everywhere, even on my machine
            </p>
        </div>
        <div class="column has-text-centered">
            <img class="image is-inline is-128x128" src="./images/data_maintenance.svg"
                alt="a developer on a computer" />
            <h2 class="title is-4 is-marginless">
                Easily integratable
            </h2>
            <p>
                APId works with any continuous integration tool. Find out how to integate <a href="/docs">here</a>
            </p>
        </div>
        <div class="column has-text-centered">
            <img class="image is-inline is-128x128" src="./images/complete_task_1.svg"
                alt="a developer on a computer" />
            <h2 class="title is-4 is-marginless">
                End-to-end testing framework
            </h2>
            <p>
                Run before deployments, make sure your service hasn't regressed
            </p>
        </div>
        <div class="column has-text-centered">
            <img class="image is-inline is-128x128" src="./images/health_2.svg" alt="a developer on a computer" />
            <h2 class="title is-4 is-marginless">
                Operational health monitoring
            </h2>
            <p>
                For peace of mind, run periodically versus your production service
            </p>
        </div>
    </div>
</section>
{{ macros::newsletter() }}
<section style="padding: 75px 0px;">
    <div class="columns is-variable is-8 is-vcentered">
        <div class="column is-4 is-offset-2">
            <h3 class="title is-2 is-marginless">Developer-centric</h3>
            <p style="margin-top: 20px">
                APId lets you define all your tests in yaml files, which makes it very easy to version control and
                doesn't require any extra coding!
                <ul style="margin-top: 20px 0px">
                    <li style="margin: 20px 0px">
                        <span class="icon has-text-success">
                            <i class="icon ion-md-checkmark-circle-outline"></i>
                        </span>
                        <b>Declarative</b> - declare all transactions in yaml files and execute with ease
                    </li>
                    <!-- <li style="margin: 20px 0px">No clunky UI - everything is nicely laid out in a simple folder structure</li> -->
                    <li style="margin: 20px 0px"><span class="icon has-text-success">
                            <i class="icon ion-md-checkmark-circle-outline"></i>
                        </span><b>Version control</b> - keep track of changes and bundle tests with a specific release
                        version</li>
                    <li style="margin: 20px 0px"><span class="icon has-text-success">
                            <i class="icon ion-md-checkmark-circle-outline"></i>
                        </span><b>No extra coding</b> - no need to add any code, just define your transactions</li>
                </ul>
                <a href="{{ get_url(path="/docs") }}" class="button is-text is-pulled-right">Read docs</a>
            </p>
        </div>
        <div class="column is-4">
            <img src="./images/developing_code.svg" class="image" alt="image code representing fixing bugs" />
        </div>
    </div>
</section>

<section style="padding: 75px 0px; background-color: #f8f9fc;">
    <div class="columns is-variable is-8 is-vcentered">
        <div class="column is-4 is-offset-2">
            <img src="./images/fast_working.svg" class="image" alt="image code representing fixing bugs" />
        </div>
        <div class="column is-4">
            <h3 class="title is-2 is-marginless">Easy integration</h3>
            <p style="margin-top: 20px">
                APId is created by developer, for developers. It is really easy to use and integrate in your
                continuous integration pipelines.
                <ul style="margin: 20px 0px">
                    <li style="margin: 20px 0px">
                        <span class="icon has-text-success">
                            <i class="icon ion-md-checkmark-circle-outline"></i>
                        </span>
                        <b>Native</b> - just download the standalone CLI and run on any platform.
                    </li>
                    <li style="margin: 20px 0px">
                        <span class="icon has-text-success">
                            <i class="icon ion-md-checkmark-circle-outline"></i>
                        </span>
                        <b>Docker</b> - if a native CLI is not your taste, you can also use our official docker image
                    </li>
                    <li style="margin: 20px 0px">
                        <span class="icon has-text-success">
                            <i class="icon ion-md-checkmark-circle-outline"></i>
                        </span>
                        <b>Any build tool</b> - using native or docker, it's easy to integrate into your pipelines such
                        as CircleCI, Jenkins and others.
                    </li>
                </ul>
                <a href="{{ get_url(path="/docs") }}" class="button is-text is-pulled-right">Read docs</a>
            </p>
        </div>
    </div>
</section>

<section style="padding: 75px 0px;">
    <div class="columns is-variable is-8 is-vcentered">
        <div class="column  is-4 is-offset-2">
            <h3 class="title is-2 is-marginless">Model user stories</h3>
            <p style="margin-top: 20px">
                We all know testing user stories is tedious, that's why apid takes a revolutionary approach to make you
                life easier
                <ul style="margin: 20px 0px">
                    <li style="margin: 20px 0px">
                        <span class="icon has-text-success">
                            <i class="icon ion-md-checkmark-circle-outline"></i>
                        </span>
                        <b>Simple call</b> - make a single api call and valiadate the response
                    </li>
                    <li style="margin: 20px 0px">
                        <span class="icon has-text-success">
                            <i class="icon ion-md-checkmark-circle-outline"></i>
                        </span>
                        <b>Transaction</b> - if you need extra steps to setup your test, transactions make it easy to
                        chain multiple, dependent steps together
                    </li>
                    <li style="margin: 20px 0px">
                        <span class="icon has-text-success">
                            <i class="icon ion-md-checkmark-circle-outline"></i>
                        </span>
                        <b>Intradependent</b> - use data from previous steps in a transaction
                    </li>
                </ul>
                <a href="{{ get_url(path="/docs") }}" class="button is-text is-pulled-right">Read docs</a>
            </p>
        </div>
        <div class="column is-4">
            <img src="./images/pipeline_1.svg" class="image" alt="image code representing fixing bugs" />
        </div>
    </div>
</section>

<section style="padding: 75px 0px; background-color: #f8f9fc;">
    <div class="columns is-variable is-8 is-vcentered">
        <div class="column is-4 is-offset-2">
            <img src="./images/question.svg" class="image" alt="image code representing fixing bugs" />
        </div>
        <div class="column is-4">
            <h3 class="title is-2 is-marginless">FAQ</h3>
            <p style="margin-top: 20px">
                APId is created by developer, for developers. It is really easy to use and integrate in your
                continuous integration pipelines.
                <ul style="margin: 20px 0px">
                    <li style="margin: 20px 0px">
                        <span class="icon has-text-success">
                            <i class="icon ion-md-help-circle-outline"></i>
                        </span>
                        <b>Is it free?</b> - Yes, APId is absolutely free! To learn how to start using it head over to
                        the docs.
                    </li>
                    <li style="margin: 20px 0px">
                        <span class="icon has-text-success">
                            <i class="icon ion-md-help-circle-outline"></i>
                        </span>
                        <b>How can I use APId?</b> - There are two different ways to use APId - either via the CLI
                        executable, or via the official docker image.
                    </li>
                    <li style="margin: 20px 0px">
                        <span class="icon has-text-success">
                            <i class="icon ion-md-help-circle-outline"></i>
                        </span>
                        <b>Will it work on my machine?</b> - Yes, you can run APId on your dev machine either via
                        docker,
                        or download the latest executable and add it to your path.
                    </li>
                    <li style="margin: 20px 0px">
                        <span class="icon has-text-success">
                            <i class="icon ion-md-help-circle-outline"></i>
                        </span>
                        <b>Can I use it in my CI?</b> - APId runs on any CI tool that uses either docker images - like
                        CircleCI, DroneCI, and others -
                        or that executes shell commands. That's all of them.
                    </li>
                </ul>
                <a href="{{ get_url(path="/docs") }}" class="button is-text is-pulled-right">Read docs</a>
            </p>
        </div>
    </div>
</section>

<section style="padding: 50px 0px; margin: 50px 0px;">
    <div class="columns is-vcentered">
        <div class="column is-4 is-offset-2 has-text-centered">
            <h3 class="title is-4">Get started now</h3>
        </div>
        <div class="column is-4">
            <div class="field is-grouped is-pulled-right">
                <p class="control">
                    <a class="button is-primary is-pulled-right is-large"
                        href="{{ get_url(path="/download") }}">Download</a>
                </p>
                <p class="control">
                    <a class="button is-primary is-pulled-right is-outlined is-large"
                        href="{{ get_url(path="/docs") }}">Read docs</a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
