{% macro header(section, path) %}
<div class="columns is-marginless is-paddingless">
  <div class="column is-8 is-offset-2 is-paddingless">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item logo" href="{{ get_url(path=path) }}">
          apid{% if section %}::{{ section }}{% endif %}
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbar" class="navbar-menu">
        <div class="navbar-end">
          <a href="{{ get_url(path="/") }}" class="navbar-item">
            Home
          </a>
          <a href="{{ get_url(path="/download") }}" class="navbar-item">
            Download
          </a>
          <a href="{{ get_url(path="/docs") }}" class="navbar-item">
            Docs
          </a>
          <a href="{{ get_url(path="/blog") }}" class="navbar-item">
            Blog
          </a>
        </div>
      </div>
    </nav>
  </div>
  <script src="/script.js"></script>
</div>
{% endmacro header %}

{% macro footer() %}
<footer class="footer is-primary">
  <div class="content has-text-centered">
    <div class="level">
      <div class="level-item">
        <a href="{{ get_url(path="/") }}" class="navbar-item">
          Home
        </a>
        <a href="{{ get_url(path="/docs") }}" class="navbar-item">
          Docs
        </a>
        <a href="{{ get_url(path="/blog") }}" class="navbar-item">
          Blog
        </a>
      </div>
    </div>
  </div>
</footer>
{% endmacro footer %}

{% macro prev_link(section) %}
{# need to find the last page of the previous section or the previous section directly
     if there isn't any pages in it #}
    {% set index = get_section(path="_index.md") %}
    {% set found_current = false %}
    {% for s in index.subsections | reverse %}
        {% set subsection = get_section(path=s) %}
        {% if subsection.permalink == section.permalink %}
            {% set_global found_current = true %}
        {% else %}
            {% if found_current %}
                {% if subsection.pages %}
                    {% set last_page = subsection.pages | last %}
                    <a class="previous" href="{{ last_page.permalink }}"><</a>
                {% else %}
                    <a class="previous" href="{{ subsection.permalink }}"><</a>
                {% endif %}
                {# no break #}
                {% set_global found_current = false %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro prev_link %}

{% macro next_link(section) %}
    {% if section.pages %}
        {% set next_page = section.pages | first %}
        <a class="next" href="{{ next_page.permalink }}">></a>
    {% else %}
        {# No page in the section, find the link for the following section #}
        {% set index = get_section(path="_index.md") %}
        {% set found_current = false %}
        {% for s in index.subsections %}
            {% set subsection = get_section(path=s) %}
            {% if found_current %}
                <a class="next" href="{{ subsection.permalink }}">></a>
                {# no break #}
                {% set_global found_current = false %}
            {% endif %}
            {% if subsection.permalink == section.permalink %}
                {% set_global found_current = true %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro next_link %}

{% macro newsletter() %}

<section style="padding: 50px 0px; margin: 50px 0px; background-color: #f8f9fc;">
  <div class="columns">
    <div class="column is-8 is-offset-2 has-text-centered">
      <h3 class="title is-4">Be the first to know</h3>
      <form action="https://gmail.us20.list-manage.com/subscribe/post?u=cb2a947d7ab1a96ab7b6c8a54&amp;id=b2cbd3d806"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
        novalidate>
        <div class="field is-grouped">
          <p class="control is-expanded">
            <input class="input is-large" type="email" placeholder="Your email" name="EMAIL" id="mce-EMAIL">
          </p>
          <p class="control">
            <button type="submit" class="button is-large is-primary">
              Subscribe
            </button>
          </p>
        </div>
        <div id="mce-responses" class="clear">
          <article class="message is-success">
            <div id="mce-success-response" class="message-body"  style="display:none">
              Success!
            </div>
          </article>
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
            name="b_cb2a947d7ab1a96ab7b6c8a54_b2cbd3d806" tabindex="-1" value=""></div>
      </form>
    </div>
  </div>
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
  <script
    type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
</section>
{% endmacro newsletter %}
