{% macro header(section) %}
<div class="columns">
  <div class="column is-8 is-offset-2">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item logo" href="{{ get_url(path="/") }}">
          apid{% if section %}::{{ section }}{% endif %}
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbar" class="navbar-menu">
        <div class="navbar-end">
          <a href="{{ get_url(path="/docs") }}" class="navbar-item">
            Docs
          </a>

          <a href="{{ get_url(path="/blog") }}" class="navbar-item">
            Blog
          </a>
        </div>
      </div>
    </nav>
  </div>
</div>
{% endmacro header %}
