name: Test
on: pull_request
jobs:
  test:
    name: unit-test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
        id: go

      - name: Set GOPATH
        # temporary fix
        # see https://github.com/actions/setup-go/issues/14
        run: |
          echo "##[set-env name=GOPATH;]$(dirname $GITHUB_WORKSPACE)"
          echo "##[add-path]$(dirname $GITHUB_WORKSPACE)/bin"
        shell: bash

      - name: Check out code
        uses: actions/checkout@v1

      - name: Get Go dependencies
        run: |
          go get github.com/golang/mock/mockgen

      - name: Go Test
        run: |
          make go-test

      - name: End to end tests
        run: |
          make e2e
